.feed-page .feed-wrapper .main-section {
  width: 100%;
  .tool-bar {
    position: fixed;
    top: 48px;
    left: 0;
    bottom: 0;
    max-width: 46px;
    padding: 24px 0;
    background-color: $dark;
    ul {
      list-style-type: none;
      li {
        padding: 0 12px 30px 12px;
        font-family: "FontAwesome";
        font-size: 22px;
        color: $white;
        cursor: pointer;
        opacity: 1;
        transition: opacity 150ms ease-in-out;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .layout-switcher {
    position: fixed;
    top: 48px;
    left: 46px;
    bottom: 0;
    width: 45%;
    padding: 40px 50px;
    background-color: #ececec;

    // Writer
    .writer {
      width: 100%;
      height: 540px;
      border-radius: 3px;
      background-color: $white;
      box-shadow: 0px 0px 15px 2px #dddddd;
      transition: all 150ms ease-in-out;
      &:hover {
        box-shadow: 0px 0px 25px 12px #dddddd;
      }
      .public-DraftEditor-content {
        width: 100%;
        max-height: 497px;
        min-height: 320px;
        padding: 18px 32px;
        font-family: $roboto;
        font-size: 16px;
        line-height: 28px;
        color: $dark;
        overflow: auto;
      }
      .writer-rich-controls {
        width: 100%;
        padding: 12px 32px;
        background-color: #efefef;
        ul {
          display: inline-block;
          margin-right: 16px;
          list-style-type: none;
          li {
            float: left;
            margin-right: 12px;
            font-family: $roboto;
            font-size: 16px;
            font-weight: 300;
            color: $gray;
            cursor: pointer;
            &.active-style-button {
              color: $main;
            }
            &.writer-bold-style {
              font-weight: 700;
            }
            &.writer-italic-style {
              font-style: italic;
            }
          }
        }
      }
    }

  }
}
